@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //var playerInfos = (QuickType.PlayerInfo[])ViewData["allinfo"];
    List<QuickType.PlayerInfo> playerInfos = (List<QuickType.PlayerInfo>)ViewData["playerInfo"];
    List<QuickTypePlayerDetails.PlayerStats> playerInfosI = (List<QuickTypePlayerDetails.PlayerStats>)ViewData["playerInf"];
    //var playerDET = (QuickTypePlayerDetails.PlayerStats[])ViewData["allinfo"];
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <hi class="display-4"> Player Info</hi>
    <hr />
    <table border="1" width="90%">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Team Name</th>
                <th>Data Joining Team</th>
                <th>Goals</th>
                <th>Assists</th>
            </tr>
        </thead>
        @{
            foreach (var playerInfo in playerInfos)
            {

                //int count = 0;


                foreach (var playerInf in playerInfosI)
                if (playerInf.PlayerId != null)
                {
                    //count = count + 1;
                    if (playerInfo.PlayerId == playerInf.PlayerId)
                    {
                            <tr>
                                <td>@playerInfo.PlayerName</td>
                                <td>@playerInfo.TeamName</td>
                                <td>@playerInfo.StartDate</td>
                                <td>@playerInf.Goals</td>
                                <td>@playerInf.Assists</td>

                            </tr>
                    }

                    else
                        if (playerInfo.PlayerId == playerInf.PlayerId)
                    {
                        <tr>
                            <td>@playerInfo.PlayerName</td>
                            <td>@playerInfo.TeamName</td>
                            <td>@playerInfo.StartDate</td>
                            <td>-</td>
                            <td>-</td>

                        </tr>
                        }

                    }

                }
            }


    </table>



</div>