@page
@model GroupProject.Pages.MidfildersModel
@{
    ViewData["Title"] = "Home page";

    var playerInfos = (QuickType.PlayerInfo[])ViewData["PlayerInfo"];
    var playerPositions = (QuickTypePosition.PlayerPosition[])ViewData["PlayerPosition"];
}

@*<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@



<div class="text-center">
    <hi class="display-4"> Midfielders Info</hi>
    <hr />
    <table border="1" width="90%">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Team Name</th>
                
                <th>Assists</th>

                <th>Crosses</th>
                <th>Fouls</th>
                <th>Games</th>
                <th>Goals</th>
                <th>Passes Completed</th>
                <th>Shots On Goal</th>
                <th>Fantasy Points</th>
            </tr>
        </thead>
        @{

            foreach (var playerInfo in playerInfos)
            // if(playerInfo.PlayerId != null)
            {


                foreach (var x in playerPositions)

                {
                    if (playerInfo.PlayerId == x.PlayerId && x.Position == "M")
                    {
                <tr>
                    <td>@x.FirstName @x.LastName</td>
                    <td>@playerInfo.Team</td>
                   
                    <td>@playerInfo.Assists</td>

                    <td>@playerInfo.Crosses</td>
                    <td>@playerInfo.Fouls</td>
                    <td>@playerInfo.Games</td>
                    <td>@playerInfo.Goals</td>
                    <td>@playerInfo.PassesCompleted</td>
                    <td>@playerInfo.ShotsOnGoal</td>
                    <td>@playerInfo.FantasyPoints</td>


                </tr>
                    }
                }

            }
        }
    </table>
</div>