@page
@model GroupProject.Pages.PlayerSalaryModel
@{ViewData["Title"] = "PlayerSalary";
    var playerInfos = (QuickType.PlayerInfo[])ViewData["PlayerInfo"];
    var playerSalaries = (QuickTypeSalary.PlayerSalary[])ViewData["PlayerSalary"];
    var playerSalaries2 = (QuickTypeSalary2.PlayerSalary2[])ViewData["PlayerSalary2"];
    var playerall = (QuickTypePlayerStats.PlayerStats[])ViewData["PlayerStats"];
    //var playeraw = (QuickTypePlayertomm.Playermainin[])ViewData["Playermainin"];
    //List<QuickType.PlayerInfo> playerInfos = (List<QuickType.PlayerInfo>)ViewData["PlayerInfo"];

    //var playerSalaries = (QuickTypeSalary.DfsSlatePlayer[])ViewData["PlayerSalary"];
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <link href="css/addons/datatables.min.css" rel="stylesheet">
    
</div>*@

<div class="text-center">
    <hi class="display-4"> Player Salary Info</hi>
    <hr />
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Team Name</th>
                
                <th>Salary</th>
                <th>Total Fantasy Points</th>
            </tr>
        </thead>
        @{

            foreach (var playerSalary in playerSalaries)
            // if(playerInfo.PlayerId != null)
            {

                foreach (var i in playerInfos)
                {


                    if (playerSalary.PlayerId == i.PlayerId)
                    {
                            <tr>
                                <td>@i.Name</td>
                                <td>@i.Team</td>
                                
                                <td>@playerSalary.DraftKingsSalary</td>
                                <td>@i.FantasyPoints</td>



                            </tr>
                    }
                }


            }
            foreach (var x in playerSalaries2)
            // if(playerInfo.PlayerId != null)
            {


                foreach (var j in playerInfos)
                {



                    if (x.PlayerId == j.PlayerId)
                    {
                            <tr>
                                <td>@j.Name</td>
                                <td>@j.Team</td>
                                

                                <td>@x.DraftKingsSalary</td>
                                <td>@j.FantasyPoints</td>
                                



                            </tr>
                        }

                    }


                }
            }
   </table>
</div>
