@page
@model GroupProject.Pages.PlayerInfoModel
@{
        ViewData["Title"] = "Home page";
        var playerInfos = (QuickType.PlayerInfo[])ViewData["PlayerInfo"];
        var playerall = (QuickTypePlayerStats.PlayerStats[])ViewData["PlayerStats"];
        
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <hi class="display-4"> Player Info</hi>
    <hr />
    <table border="1" width="90%">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Team Name</th>
                <th>Active</th>
                <th>Data Joining Team</th>
                <th>Goals</th>
                <th>Assists</th>
                <th>Fantasy Points</th>
            </tr>
        </thead>
        @{

            foreach (var playerInfo in playerInfos)
            // if(playerInfo.PlayerId != null)
            {


                foreach (var x in playerall)

                {
                    if (playerInfo.PlayerId == x.PlayerId)
                    {
                <tr>
                    <td>@x.PlayerName</td>
                    <td>@x.TeamName</td>
                    <td>@x.Active</td>
                    <td>@x.StartDate</td>
                    <td>@playerInfo.Goals</td>
                    <td>@playerInfo.Assists</td>
                    <td>@playerInfo.FantasyPoints</td>
                    

                </tr>
                    }
                }

            }
        }
    </table>
</div>