@page
@model GroupProject.Pages.PlayerPositionModel
@{ViewData["Title"] = "PlayerPosition";
    var playerPositions = (QuickTypePosition.PlayerPosition[])ViewData["PlayerPosition"];
    var playerall = (QuickTypePlayerStats.PlayerStats[])ViewData["PlayerStats"];

    //List<QuickTypePosition.PlayerPosition> playerPositions = (List<QuickTypePosition.PlayerPosition>)ViewData["PlayerPosition"];


    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div class="text-center">
        <hi class="display-4"> Player Info</hi>
        <hr />
        <table border="1" width="90%">
            <thead>
                <tr>
                    <th>Player Name</th>
                    <th>Team Name</th>
                    <th>Data Joining Team</th>
                    <th>Position</th>
                </tr>
            </thead>
            @{

                foreach (QuickTypePosition.PlayerPosition playerPosition in playerPositions)
                //if(playerInfo.PlayerId != null)
                {



                    
                    foreach (var x in playerall)

                    {

                        if (playerPosition.PlayerId == x.PlayerId && playerPosition.Position == "MF")
                        {
                            <tr>
                                <td>@x.PlayerName</td>
                                <td>@x.TeamName</td>
                                <td>@x.StartDate</td>
                                <td>@playerPosition.Position</td>
                                <td>@playerPosition.Jersey</td>
                             </tr>
                        }
                    }

                }
            }
        </table>
    </div>

