@page
@model GroupProject.Pages.PlayerSalaryModel
@{ViewData["Title"] = "PlayerSalary";
    var playerSalaries = (QuickTypeSalary.PlayerSalary[])ViewData["PlayerSalary"];
    var playerSalaries2 = (QuickTypeSalary2.PlayerSalary2[])ViewData["PlayerSalary2"];
    var playerall = (QuickTypePlayerStats.PlayerStats[])ViewData["PlayerStats"];
    //var playeraw = (QuickTypePlayertomm.Playermainin[])ViewData["Playermainin"];
    //List<QuickType.PlayerInfo> playerInfos = (List<QuickType.PlayerInfo>)ViewData["PlayerInfo"];

    //var playerSalaries = (QuickTypeSalary.DfsSlatePlayer[])ViewData["PlayerSalary"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <hi class="display-4"> Player Info</hi>
    <hr />
    <table border="1" width="90%">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Team Name</th>
                <th>Data Joining Team</th>
                <th>Salary</th>
                <th>Team</th>
            </tr>
        </thead>
        @{

            foreach (var playerSalary in playerSalaries)
            // if(playerInfo.PlayerId != null)
            {
               




                    foreach (var x in playerall)

                    {
                        if (playerSalary.PlayerId == x.PlayerId)
                        {
                            <tr>
                                <td>@x.PlayerName</td>
                                <td>@x.TeamName</td>
                                <td>@x.StartDate</td>

                                <td>@playerSalary.YahooSalary</td>
                                <td>@playerSalary.Day</td>
                                <td></td>



                            </tr>
                        }
                    }
                

            }
            foreach (var x in playerSalaries2)
            // if(playerInfo.PlayerId != null)
            {
                    foreach (var i in playerall )
                    {




                        
                            if (x.PlayerId == i.PlayerId)
                            {
                            <tr>
                                <td>@i.PlayerName</td>
                                <td>@i.TeamName</td>
                                <td>@i.StartDate</td>

                                <td>@x.YahooSalary</td>
                                <td>@x.Day</td>
                                <td>@x.Day</td>



                            </tr>
                            }
                        
                    }
                }
            }
        </table>
</div>
